{% load static %} 
{% load bootstrap5 %} 
{% bootstrap_css %} 
{% bootstrap_javascript %}

<html lang="">
<head>
    <title>Query Database </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %} ">

    <script>
    var currentStudentIndex = 0;
    var students = {{ students|safe }};

    function updateStudentDetails(index) {
        document.getElementById('student_name').textContent = students[index].name;
        document.getElementById('student_age').textContent = students[index].age;
        // Update other student details as needed
    }

    function showPreviousStudent() {
        if (currentStudentIndex > 0) {
            currentStudentIndex--;
            updateStudentDetails(currentStudentIndex);
        }
    }

    function showNextStudent() {
        if (currentStudentIndex < students.length - 1) {
            currentStudentIndex++;
            updateStudentDetails(currentStudentIndex);
        }
    }
</script>
</head>

<body>
    {% include 'navbar.html' %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="box text-center p-4 border">
                        <div class="font-weight-bold">Students </div>

                        <!-- Student information display area -->
                        {% for student in student_list%}
                            <br>
                            <div>
                              <div>
                                ID Number: {{student.0}}
                              </div>
                              <div>
                                Name: {{student.1}}
                              </div>
                              <div>
                                Email: {{student.2}}
                              </div>
                              <div>
                                School: {{student.3}}
                              </div>
                              <div>
                                Programme: {{student.4}}
                              </div>
                            </div>
                        {% endfor %}

                        <!-- Left and right arrows for navigation -->
                        <div class="arrow-container mt-3 d-flex justify-content-between">
                            <div  id="prev_button" class="arrow-left btn btn-primary" onclick="showPreviousStudent()">&lt;</div>
                            <div id="next_button" class="arrow-right btn btn-primary" onclick="showNextStudent()">&gt;</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box text-center p-4 border">
                        <div class="font-weight-bold">View All Modules </div>

                        {% for module in module_list%}
                            <br>
                            <div>
                              <div>
                                Module Name: {{module.0}}
                              </div>
                              <div>
                                Credits: {{module.1}}
                              </div>
                            </div>
                        {% endfor %}

                        <!-- Left and right arrows for navigation -->
                        <div class="arrow-container mt-3 d-flex justify-content-between">
                            <div  id="prev_button" class="arrow-left btn btn-primary" onclick="showPreviousStudent()">&lt;</div>
                            <div id="next_button" class="arrow-right btn btn-primary" onclick="showNextStudent()">&gt;</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box text-center p-4 border">
                        <div class="font-weight-bold">View Grades </div>

                        <!-- Student information display area -->
                        <div id="student_details">
                            <!-- Student details will be displayed here -->
                        </div>

                        <!-- Left and right arrows for navigation -->
                        <div class="arrow-container mt-3 d-flex justify-content-between">
                            <div  id="prev_button" class="arrow-left btn btn-primary" onclick="showPreviousStudent()">&lt;</div>
                            <div id="next_button" class="arrow-right btn btn-primary" onclick="showNextStudent()">&gt;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
