{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="">
<head>
    <title>Query Database </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %} ">
</head>
<body >
{% include 'navbar.html' %}

<body>
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="box text-center p-4 border">
          <div class"font-weight-bold">Students </div>
  
        {% for student in student_list%}

          <div>
            ID Number: {{student.0}}
          </div>
          <div>
            Name: {{student.1}}
          </div>
          <div>
            Email: {{student.2}}
          </div>
          <div>
            School: {{student.3}}
          </div>
          <div>
            Programme: {{student.4}}
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="box text-center p-4 border">
          View All Modules
        </div>
      </div>
      <div class="col-md-4">
        <div class="box text-center p-4 border">
          
        </div>
      </div>
    </div>
  </div>
</body>
</html>
