
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Module </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<!-- Alerts -->
{% if updated_module_response %}
    <script>
        alert("{{ 'Module Information has been updated' }}");
    </script>
{% endif %}
{% if error_updated_module_response %}
    <script>
        alert("{{ 'Error updating student information' }}");
    </script>
{% endif %}

{% if deleted_module_response %}
       <script>
        alert("{{ 'Module deleted successfully!'}}");
    </script>
{% endif %}
{% if error_deleted_module_response %}
       <script>
        alert("{{ 'Error unable to delete module'}}");
    </script>
{% endif %}

{% if added_module_response %}
       <script>
        alert("{{ 'Module information saved successfully!'}}");
    </script>
{% endif %}
{% if error_added_module_response %}
       <script>
        alert("{{ 'Error unable to save module information'}}");
    </script>
{% endif %}
<!-- Display Form for user to enter module information -->
<body>
{% include "navbar.html" %}
<div>
<div class="bcg container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form method="post" action="" id="form" class="border p-4 rounded">
        {% csrf_token %}
        <div>Module </div><br>
        <div class="form-group">
            <label for="module_name">Module Code</label>
            <input type="text" class="form-control" name="module_name" id="module_name" placeholder="Module Code" required>
        </div>
        <div class="form-group">
            <label for="num_of_credits">Module Credit </label>
            <select class="form-control" id="num_of_credits" name="num_of_credits">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <br>

            <button type="submit" class="btn btn-primary" name="insert_module">Insert</button>
            <button type="submit" class="btn btn-secondary" name="update_module">Update</button>
            <button type="submit" class="btn btn-danger" name="delete_module">Delete</button>
    </form>
</div>
</div>
<!-- Display information inside the database -->
{% include "query_database/query_database.html"%}

</body>
</html>
