<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students </title>
</head>
<body>





    <form id="form">
        <div id="left-div">
           <label id="student_id">Student ID</label><br>
           <input type="text"1 id="student_id" placeholder="Enter ID Number" required><br>
           <label id="full_name" >Full Name</label><br>
           <input type="text" value="full_name" id="full_name" placeholder="Enter Full Name"><br>
           <label id="email" >Email</label><br>
           <input type="text" value="student_id" id="emails" placeholder="Enter Email Address"><br>
           <label id="school" >School</label><br>
           <input type="text" value="school_name" id="schools" placeholder="Enter School"><br>
           <label for="program" >Programme</label><br>
           <input type="text" value="programme_name" id="programme" placeholder="Enter Programme Name"><br>
           <button id="button" value="insert_student">Insert</button>
        </div>
    </form>

</body>
</html>