
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students </title>
</head>
<body>
{% include "navbar.html" %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form method="post" action="" id="form" class="border p-4 rounded">
        {% csrf_token %}
        <div>Student </div><br>
        <div class="form-group">
            <label for="student_id">Student ID</label>
            <input type="text" class="form-control" name="student_id" id="student_id" placeholder="Enter ID Number" required>
        </div>
        <div class="form-group">
            <label for="full_name">Full Name</label>
            <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Enter Full Name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email Address">
        </div>
        <div class="form-group">
            <label for="school">School</label>
            <input type="text" class="form-control" name="school" id="school" placeholder="Enter School">
        </div>
        <div class="form-group">
            <label for="programme">Programme</label>
            <input type="text" class="form-control" name="programme" id="programme" placeholder="Enter Programme Name">
        </div>

            <button type="submit" class="btn btn-primary" name="insert_student">Insert</button>
            <button type="submit" class="btn btn-secondary" name="update_student">Update</button>
            <button type="submit" class="btn btn-danger" name="delete_student">Delete</button>
    </form>


    <form method="post" action="" id="form" class="border p-4 rounded">
        {% csrf_token %}
        <div>Module</div><br>
        <div class="form-group">
            <label for="module_name">Module Name </label>
            <input type="text" class="form-control" name="module_name" id="module_name" placeholder="Module Name" required>
        </div>
        <div class="form-group">
            <label for="module_name">Module Credits</label>
            <input type="text" class="form-control" name="num_of_credits" id="module_name" placeholder="Number of Credits">
        </div>

            <button type="submit" class="btn btn-primary" name="insert_module">Insert</button>
            <button type="submit" class="btn btn-secondary" name="update_module">Update</button>
            <button type="submit" class="btn btn-danger" name="delete_module">Delete</button>
    </form>
</div>


</body>
</html>