
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grades </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
{% include "navbar.html" %}
<div>
<div class="bcg container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form method="post" action="" id="form" class="border p-4 rounded">
        {% csrf_token %}
        <div>Grades </div><br>
        <div class="form-group">
            <label for="student_id">Student ID</label>
            <input type="text" class="form-control" name="student_id" id="student_id" placeholder="Enter ID Number" required>
        </div>
        <div class="form-group">
            <label for="full_name">Module Code</label>
            <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Enter Module Code">
        </div>
        <div class="form-group">
            <label for="academic_year">Academic Year</label>
            <input type="text" class="form-control" name="academic_year" id="academic_year" placeholder="Enter Academic Year">
        </div>
        <div class="form-group">
            <label for="semester">Semester</label>
            <input type="number" class="form-control" name="semester" id="semester" placeholder="Enter Semester">
        </div>
        <div class="form-group">
            <label for="test_1">Test 1</label>
            <input type="text" class="form-control" name="test_1" id="test_1" placeholder="Enter Test 1 Grade">
        </div>
        <div class="form-group">
            <label for="test_2">Test 2</label>
            <input type="text" class="form-control" name="test_2" id="test_2" placeholder="Enter Test 2 Grade">
        </div>
            <button type="submit" class="btn btn-primary" name="insert_grade">Insert</button>
            <button type="submit" class="btn btn-secondary" name="update_grade">Update</button>
            <button type="submit" class="btn btn-danger" name="delete_grade">Delete</button>
    </form>
</div>
</div>
</body>
</html>