
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students </title>
</head>
<body>
{% if updated_module_response %}
    <script>
        alert("{{ 'Module Information has been updated' }}");
    </script>
{% endif %}

{% if deleted_module_response %}
       <script>
        alert("{{ 'Module deleted successfully!'}}");
    </script>
{% endif %}

{% if added_module_response %}
       <script>
        alert("{{ 'Module information saved successfully!'}}");
    </script>
{% endif %}
{% include "navbar.html" %}
<!-- Display Form for user to module information -->
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form method="post" action="" id="form" class="border p-4 rounded">
        {% csrf_token %}
        <div class="form-group">
            <label for="module_name">Module Code</label>
            <input type="text" class="form-control" name="module_code" id="module_code" placeholder="Module Code" required>
        </div>
        <div class="form-group">
            <label for="module_name">Module Name</label>
            <input type="text" class="form-control" name="module_name" id="module_name" placeholder="Module Name">
        </div>
        <div class="form-group">
            <label for="module_name">Module Credit</label>
            <input type="number" class="form-control" name="num_of_credits" id="module_credit" placeholder="Number of Credits">
        </div>

            <button type="submit" class="btn btn-primary" name="insert_module">Insert</button>
            <button type="submit" class="btn btn-secondary" name="update_module">Update</button>
            <button type="submit" class="btn btn-danger" name="delete_module">Delete</button>
    </form>
</div>

<!-- Display information inside the database-->
{% include "query_database/query_database.html"%}

</body>
</html>


