{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="">
<head>
    <title>{% block content %} {% endblock content %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %} ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Display information From the Database-->
<body >
{% include 'navbar.html' %}
<div class="background_image">
    <div>
        <br>
        <br>
        <br>
        {% include "query_database/query_database.html"%}
    </div>
</div>








</body>
</html>